<div class="about">
  <p>
    Your neighborhood auto repair facility where service and quality are #1.
    <br/>
    We have served Montrose and the Greater Houston area for over 10 years.
  </p>
  <div class="about-bottom-line">
    <div class="about-line"></div>
  </div>
</div>
