<div class="contact">
  <div class="contact-info">
    <div class="contact-info-left">
      <h1>Hours</h1>
      <h2>Mon - Fri</h2>
      <h3>8:30 am - 6:00 pm</h3>
    </div>
    <div class="contact-info-middle">
      <h1>Contact us at</h1>
      <h2>(713) 523-2340</h2>
      <h3>1854 W Alabama St, Houston, TX 77098</h3>
    </div>
    <div class="contact-info-right">
      <h1>Find us on</h1>
      <a href="https://www.facebook.com/pages/category/Automotive-Repair-Shop/E-E-Automotive-Services-LLC-495429157224503/" target="_blank"><i class="fab fa-facebook fa-3x"></i></a>
    </div>
  </div>
  <form action="/" method="post">
    <h1 class="message-section-title">Send us a message</h1>
    <div class="contact-form">
      <input type="text" name="firstName" placeholder="First Name"/>
      <input type="text" name="lastName" placeholder="Last Name"/>
      <input type="text" name="email" placeholder="Email"/>
      <input type="text" name="phoneNumber" placeholder="Phone Number"/>
      <textarea name="message" placeholder="Message" ows="8" cols="80"></textarea>
      <!-- <div class="g-recaptcha" id="html_element"></div> -->
    </div>
    <!-- <div class="g-recaptcha" data-sitekey="6LerXKYUAAAAAMHk1lcBdus6puVKdQALAWR0_SKg"></div> -->
    <div class="submit">
      <input class="submit-button" type="submit" value="Submit" />
    </div>
  </form>
</div>
