<div class="header">
  <img src="/images/e&e-red.png" />
  <div class="header-bottom">
    <div class="bottom-line">
      <div class="line"></div>
    </div>
    <div>
      <h1>automotive services</h1>
    </div>
    <div class="bottom-line">
      <div class="line"></div>
    </div>
  </div>
</div>
