<div class="services">
  <h1 class="services-title">Our Services</h1>
  <div class="service-icons">
    <div class="service-icon">
      <img  src='/images/screwdriver-and-wrench.svg'/>
      <h1>Diagnostics</h1>
    </div>
    <div class="service-icon">
      <img  src='/images/motor.svg'/>
      <h1>Motors</h1>
    </div>
    <div class="service-icon">
      <img  src='/images/battery.svg'/>
      <h1>Batteries</h1>
    </div>
    <div class="service-icon">
      <img  src='/images/balancing.svg'/>
      <h1>Alignment</h1>
    </div>
    <div class="service-icon">
      <img  src='/images/flat-tire.svg'/>
      <h1>Flats</h1>
    </div>
    <div class="service-icon">
      <img  src='/images/damage.svg'/>
      <h1>Collision</h1>
    </div>
    <div class="service-icon">
      <img  src='/images/car-painting.svg'/>
      <h1>Paint</h1>
    </div>
    <div class="service-icon">
      <img  src='/images/brake-disk.svg'/>
      <h1>Brakes</h1>
    </div>
    <div class="service-icon">
      <img  src='/images/test.svg'/>
      <h1>Inspections</h1>
    </div>
  </div>
</div>
